.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  height: 40vh;
  display: flex;
}

.modal-accept-btn {
  float: right;
  border: 1px solid;
  background: green;
  font-size: 18px;
  cursor: pointer;
  height: 30px;
}

.modal-close-btn {
  float: right;
  border: 1px solid;
  background: red;
  font-size: 18px;
  cursor: pointer;
  height: 30px;
}
